<!DOCTYPE html>
<html>
<head>
    <title>Resu|md - Realtime Resumes with Markdown</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
  
<div class="md-content">
          <label for="first_name">First Name</label>
          <input placeholder="first name" id="first_name" type="text" class="validate">
          <label for="first_name">Last Name</label>
          <input placeholder="last name" id="first_name" type="text" class="validate">
    <label for="first_name">Bio</label>
    <textarea name="" id="pad" cols="30" rows="10">
      A bit about yourself...
    </textarea>
</div>

  <div class="parsed-md" id="markdown">
  </div>

  <div class="cogwheel">
  
  </div>


    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="script.js"></script>

</body>
</html>